<!DOCTYPE html>
<html bgcolor="#000000">
	<head>
		<title>Alexandra Systems</title>
		<link rel='stylesheet' href='css/style.css' />
		<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
	</head>
	<body>
		<code>
			<pre id="contents"></pre>
			<div id='selection'></div><br>
			<script>
			var i = 0;
			var txt = `
Welcome to Alexandra Marie Miller's personal website inspired by command line 
interfaces. To get the full experience as it was meant to be, it is reccomended 
that you use a Javascript capable dektop browser such as Qtebrowser, Mozilla 
Firefox, Google Chrome, or Microsoft Edge. To navigate the site follow the prompts.
Fnord.



Sitemap:

[0] / <─ You are here
 ├──[1] VM 
 │   ├──[2] Eample
 │   ├──[3] Docs
 │   └──[4] Source
 ├──[5] Virtual-Reality-Club
 │   ├──[6] Website-Link
 │   └──[7] Github-Link
 ├──[8] About
 ├──[9] Blog
 ├──[10] Contact
 ├──[11] Website-Source
 └──[12] Changelog

Please enter numeric choice or type 'find' followed by a string 
to search:`;
			var speed = 5; /* The speed/duration of the effect in milliseconds */

			function termDisplayFeed() {
  				if (i < txt.length) {
    					document.getElementById("contents").innerHTML += txt.charAt(i);
    					i++;
    					setTimeout(termDisplayFeed, speed);
				}
			}
			termDisplayFeed();
			</script>
		</code>
	</body>
</html>
