<!DOCTYPE html>
<html bgcolor="#000000">
	<head>
		<title>Alexandra Systems</title>
		<link rel='stylesheet' href='css/style.css' />
		<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
	</head>
	<body>
		<pre id="contents"></pre>
		<pre id="selection"></pre>
		<pre> </pre>
		<script src="javascripts/linemode.js"></script>
		<script>
			var speed = 5;
			var txt = `
This is the VM development directory and information page.

The first virtual machine, system/a was written in C++ during my first C++
class and was inspired reading about Babbage's Analytical Engine.
It was before I really understood classes or the C++ language well so it
ultimately has a number of defficencies and signifigant bugs that make it
absurd.

The second was the ever so creatively named system/b, created out of a mixture 
of boredom and a desire to make something interesting and possibly cool.
Regrettaly it utterly failed at being anywhere remotely near cool, but chasing
down the innumerable bugs I created like an overcaffinated cat hunting for mice
did eliminate my free timne.

The third virtual machine was system/c and was a byte addressable stack based 
virtual machine which used an array of function pointers to emulate the opcodes 
in the sytem, allowing for faster execution than previous systems.

The system/d virtual machine is the fourth virtual machine that I have created
and contains signifigant improvements using concepts and design features 
s̶t̶o̶l̶e̶n̶ ̶f̶r̶o̶m̶ inspired by the x86-64 instruction set architecture as well as
experience from the previous virtual machines.

The primary architectual differences between this and the previous virtual
machines is the implementation of dedicated instructions for boolean logic; 
numeric comparison and the use of Javascript instead of C++. This allows the
system to be portable betwen platforms, allowing me to show off to a far wider
audiance than I could previously hope for in a case of technological 
expositionisim the likes of which I could never dream of before. Thus everyone
can be exposed to my glorious code. But in all seriosness, it was pretty fun to
make it and I hope you have fun messing with the system yourself.

Obiously Javascript demands a number of changes over the previous designs such
as the fact that I cannot have use pointers (I know objects are pointers, but
they lack the pointer-y features of pointers), only one numeric datatype being
avalible (64 bit IEEE reals), and having to use 

Overall Javascript is a terrible language to implement a virtual machine in for
a number of reasons. Obviously it is an interpeted programming language that 
ultimately lacks any sort of low level control over the system. Thus it is 
signifigantly slower than C or C++, especialy when implementing a virtual
machine. Thus it is generally better to choose languages such as Haskell  



Sitemap:

[0] /
 ├──[1] VM <─ You are here
 │   ├──[2] VM-Eample
 │   ├──[3] VM-Docs
 │   └──[4] VM-source
 ├──[5] Virtual-Reality-Club
 │   ├──[6] Website-Link
 │   └──[7] Github-Link
 ├──[8] About
 ├──[9] Blog
 ├──[10] Contact
 ├──[11] Website-source
 └──[12] Changelog

Please enter numeric choice or type 'find' followed by a string
to search:
`; /* The text */


dispLnMode(speed, txt, "contents");
getPageSelection("selection");
		</script>
	</body>
</html>
